.App {
  text-align: center;
  padding: 5px 0;
}

header {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finder-box {
  display: flex;
  justify-content: space-evenly;
}

.grass-img {
  width: 200px;
  height: 200px;
}

.logo {
  height: 90px;
  width: 90px;
  background-position: center;
}